.badge-opacity-madera {
  background: #f0ceb1;
  color: #704f31;
}

.badge-opacity-naranjamadera {
  background: #f2b59d;
  color: #744a3a;
}

.btn-impresion {
    background: #B8DFEE;
}

.btn-impresion:hover {
    background: #71CCF0;
}
